/* content.scss */
// 한줄주석은 변환 X

$full:100%;

:root{
  --full:100%
}

body{
  width: calc(var(--full) / 2); 
  height: $full / 2;
}

// scss로 작업한 것은 css 변환 가능
// css로 작업한 것은 scss변환 X
// css로 수정을 했따면 이후 작업은 css에서 해야한다.