@charset "utf-8";
#wrap{
  width: 100%; min-width: 1200px; height: auto;
}
li{
  border: 1px solid #777;
  width: 100%; height: auto;
  margin: auto;
  padding: 1.5rem; box-sizing: border-box;

}
li>button{
  width: 100%; height: auto;
  margin: auto;
}
#cal{
  width: 500px;  height: 600px;
  margin: auto;
  border: 1px solid #777;
}
.display {
  width: 100%; height: 60px;
  border: 1px solid #777;
}
.display>li{
  width: 100%; height: auto ;
}
.ac {
  width: 200px; height: 100px;
  margin: auto;
}


ul{
  width: 100%; height: auto;
  display: flex;
  justify-content: space-around;
  width: 100%; height: auto;
}
.number {
  margin: auto;
}


