@charset "utf-8";
#wrap{
  width: 100%; min-width: 1200px; height: auto;
  margin: auto;
}
h1 {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  text-indent: var(--font-title_04);
  border-bottom: var(--border-line_01);

}
#cal {
  width: 300px;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #777;
}

.display {
  height: 50px;
  box-sizing: border-box;
  padding: 0.2rem;
  margin: auto;
}

ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul> li{
  width: 100%; height: 60px;
  box-sizing: border-box;
  padding: 5px;
}
.display>li{
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  background-color: aqua;
  border: 1px solid #777;
}

li>button{
  width: 100%; height: auto;
  margin: auto; 
  border: 1px solid #777;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  background-color: aqua;
}


